@import url('https://fonts.googleapis.com/css2?family=Playball&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  list-style: none;
  text-decoration: none;
  outline: none;
  user-select: none;
  white-space: nowrap;
}
html {
  font-size: 62.5%;
}
/*   font-family: "Playball", cursive; */
body {
  text-align: center;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

.logo {
  background-color: #FDA403;
  padding: 30px;
  
}
.logo > h1 {
  color: rgb(110, 52, 52);
  font-family: "Playball", cursive;
  font-weight: 900;
  font-size: 6rem;
}
form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: #E8751A;
  padding: 20px 30px;
  color: #0c0808;
}
form button {
  padding: 10px 30px;
  border-radius: 20px;
  background-color: #898121;
  cursor: pointer;
  font-weight: 800;
  color: #0c0808;
  
}
select, input, .clear-btn {
  background-color: #E5C287;
  padding: 10px 30px;
  border-radius: 30px;
}
.clear-btn {
  cursor: pointer;
  font-weight: 700;
  font-size: 1.5rem;
}
.main {
  padding: 30px;
  background-color: #6B240C;
  min-height: 470px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.item {
  display: flex;
  align-items: center;
  gap: 5px;
  
}
.close-icon {
  width: 30px;
  cursor: pointer;
}
.item > span {
  font-weight: 600;
  color: #ffffff;
  font-size: 1.4rem;
}
.items {
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}
input[type="checkbox"] {
  height: 2rem;
  width: 2rem;
  accent-color: #e5771f;
}
.main-end {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
}
footer {
  background-color: #898121;
  padding: 30px;
  font-weight: 700;
  font-size: 1.5rem;
  
}
footer > p {
  white-space: wrap;
}

@media (max-width: 650px) {
  .logo > h1 {
    font-size: 5rem;
  }
  .logo {
    padding: 20px;
  }
  form {
    padding: 20px;
  }
}
@media (max-width: 450px) {
  .logo h1 {
    font-size: 4rem;
  }
}
@media (max-width: 400px) {
  .logo h1 {
    font-size: 3.5rem;
  }
}